*{
  margin: 0;
  padding: 0;
}

body{
  background-image: linear-gradient(#0648cd, #000059);
  color: #ffffff;
  font-family: chalkboard, sans-serif;
  text-shadow: #ffffff 0 0 10px;
  font-size: 1.5vw;
}




/*CSS for nav*/
.topNav{
  overflow: hidden;
  border-bottom: white solid 5px;
  background-color: #053492;
}

.topNav a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 3vw;
  color: #ffffff;
}

a.right{
  float: right;
}

.topNav img{
  height: 10vh;
}

.topNav p:hover{
  /*filter: blur(2px);*/
  text-shadow: #ffffff 0 0 20px;

}

.topNav img:hover{
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.topNav .icon{
  display: none;
  color: #ffffff;
}





/*CSS for main*/
main{
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

main a{
  text-decoration: none;
  color: #ffffff;
}

main a:hover{
  text-shadow: #ffffff 0 0 20px;
}

main h1{
  text-align: center;
  margin-bottom: 2vh;
}

#logo img{
  width: 50vw;
}

#startDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

#startDiv img{
  width: 35vw;
}

#startDiv p, #startDiv a{
  font-size: 3vw;
}

article{
  margin-bottom: 5vh;
  text-align: center;
}

iframe{
  height: 39.375vw;
  width: 70vw;
}

/*CSS for slideshowet*/

#slideshow *{
  box-sizing: border-box;
}

#slideshow{
  max-width: 70vw;
 /* height: 45vw;*/
}

#slideshow-container{
  width: 100%;
  /*height: 100%;*/
  position: relative;
  margin: auto;
}


/*Gjemmer bildene til å starte med*/
.mySlide{
  display: none;
  width: 100%;
  /*height: 100%;*/
}


.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  width: 5%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next{
  right: 0;
  left: auto;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
  background-color: rgba(0,0,0,1);
}

.numbertext{
  color: #ffffff;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover{
  background-color: #616161;
}

.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to{opacity: 1}
}

@keyframes fade{
  from {opacity: 0.4}
  to{opacity: 1}
}

/*CSS til sponsorene*/
#sponsor-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#sponsor-container div{
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

#sponsor-container img{
  width: 100%;
}

/*CSS for footer*/
footer{
  display: grid;
  margin-top: 10vh;
  grid-template-columns: 1fr 2fr 2fr;
}

footer div{
  margin: 0 5vw;
}

footer img{
  width: 50%;
  min-width: 75px;
  margin: 0 auto;

}

footer div:nth-child(2){
  text-align: right;
}




@media screen and (orientation: portrait){
  body{
    font-size: 4vw;
  }

  /*Media queries for nav*/
  .topNav a:not(:first-child){
    display: none;
  }

  .topNav a.icon{
    display: block;
    float: right;
    font-size: 10vw;
  }

  .topNav.responsiv{
    position: relative;
  }

  .topNav.responsiv a.icon{
    position: absolute;
    right: 0;
    top: 0;
  }

  .topNav.responsiv a{
    display: block;
    float: none;
    text-align: left;
  }

  /*Media queries for logo og tider*/
  #startDiv{
    flex-direction: column;
  }

  #startDiv img{
    width: 80vw;
  }

  /*Media queries for video*/
  iframe{
    height: 56.25vw;
    width: 100vw;
  }

  /*Media queries for slideshow*/
  .prev, .next{
    height: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    width: 33%;
    opacity: 0;
  }

  /*Media queries for sponsorer*/
  #sponsor-container{
    grid-template-columns: repeat(2, 1fr);
    font-size: 4vw;
  }

  footer div:nth-child(1){
    display: none;
  }
}




