*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #053492;
  color: #ffffff;
  font-family: chalkboard, sans-serif;
  text-shadow: #ffffff 0 0 10px;

}


/*CSS for nav*/
.topNav{
  overflow: hidden;
  height: 11vh;
  border-bottom: white solid 5px;
}

.topNav a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 50px;
  color: #ffffff;

}

a.right{
  float: right;
}

.topNav img{
  height: 10vh;
}

.topNav p:hover{
  filter: blur(2px);
}

.topNav img:hover{
  transform: scale(0.8);
  transition-duration: 0.3s;
}

/*CSS for main*/
main{
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

#logo img{
  width: 50vw;
}

/*CSS for slideshowet*/

#slideshow *{
  box-sizing: border-box;
}

#slideshow{
  max-width: 1000px;
}

#slideshow-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/*Gjemmer bildene til å starte med*/
.mySlide{
  display: none;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}

.numbertext{
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover{
  background-color: #717171;
}

.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to{opacity: 1}
}

@keyframes fade{
  from {opacity: 0.4}
  to{opacity: 1}
}
